<a href="https://colab.research.google.com/github/hanyoungin/Doit_R/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%A4%EC%8A%B5_01(%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1

화면에 안녕하세요 문자열을 출력하세요.

In [ ]:
## 1번 문제 답안

print("안녕하세요.")

안녕하세요.

# 문제 2

화면에 아래 문장을 출력하세요.

**친구들은 "파이썬은 정말 쉬워" 라고 외쳤다.**

In [ ]:
## 2번 문제 답안

print("친구들은 파이썬은 정말 쉬워 라고 외쳤다.")

친구들은 파이썬은 정말 쉬워 라고 외쳤다.

# 문제 3

print() 함수를 사용하여 다음과 같이 출력하세요.(4개 단어를 이어서 출력합니다.)

**연필 지갑 노트북 휴대폰**

In [ ]:
## 3번 문제 답안
print("연필", "지갑", "노트북", "휴대폰")

연필 지갑 노트북 휴대폰

# 문제 4

print() 함수를 사용하여 다음과 같이 출력하세요.

**연필/지갑/노트북/휴대폰**

In [ ]:
## 4번 문제 답안

print("연필/지갑/노트북/휴대폰")

연필/지갑/노트북/휴대폰

# 문제 5

print()함수를 사용하여 6*8의 결과를 화면에 출력하세요

In [ ]:
## 5번 문제 답안

print(6 * 8)

48

# 문제 6

변수 a와 b를 활용하여 다음을 출력하세요.



```
a : hello
b : world
```



원하는 출력 예시
```
hello world!

In [ ]:
## 6번 문제 답안
a = "hello"
b = "world!"

print(a, b)

hello world!

# 문제 7

정수 1000을 문자열(str) '1000'으로 변환하세요.

num = 1000

In [ ]:
## 7번 문제 답안
num = 1000

num_str = str(num)
print(num_str)
print(type(num_str))

1000
<class 'str'>

# 문제 8

문자열 "25.1"을 실수(float) 타입으로 변환해보세요.

In [ ]:
## 8번 문제 답안
num = "25.1"

num_float = float(num)
print(num_float)
print(type(num_float))

25.1
<class 'float'>

# 문제 9

아래의 year 변수(문자열 타입)를 정수로 변환하고 최근 5년의 연도를 출력해보세요.

```
year = "2022"
```

In [ ]:
## 9번 문제 답안
year = "2022"

print(int(year)-5)
print(int(year)-4)
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019
2020
2021

# 문제 10

스마트폰이 월 25,540원에 무이자 24개월의 조건으로 판매되고 있다. 스마트폰 구매를 위하여 필요한 총 금액을 출력하세요.(변수 사용)

In [ ]:
## 10번 문제 답안
month = 25540

total = month * 36
print(total)

919440